<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.tap.foodapp.login.LoginPage</servlet-class>
  </servlet>
  <display-name>FoodDeliveryProject</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.tap.foodapp.login.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.tap.foodapp.login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Restaurant</display-name>
    <servlet-name>Restaurant</servlet-name>
    <servlet-class>com.tap.foodapp.login.Restaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurant</servlet-name>
    <url-pattern>/Restaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.tap.foodapp.login.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.tap.foodapp.login.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParticularRestaurantIdLogin</display-name>
    <servlet-name>GetParticularRestaurantIdLogin</servlet-name>
    <servlet-class>com.tap.foodapp.login.GetParticularRestaurantIdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParticularRestaurantIdLogin</servlet-name>
    <url-pattern>/GetParticularRestaurantIdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tap.foodapp.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.tap.foodapp.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParticularRestaurantIdByAdmin</display-name>
    <servlet-name>GetParticularRestaurantIdByAdmin</servlet-name>
    <servlet-class>com.tap.foodapp.admin.GetParticularRestaurantIdByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParticularRestaurantIdByAdmin</servlet-name>
    <url-pattern>/GetParticularRestaurantIdByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminForgotPassword</display-name>
    <servlet-name>AdminForgotPassword</servlet-name>
    <servlet-class>com.tap.foodapp.admin.AdminForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForgotPassword</servlet-name>
    <url-pattern>/AdminForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAdminAccount</display-name>
    <servlet-name>CreateAdminAccount</servlet-name>
    <servlet-class>com.tap.foodapp.admin.CreateAdminAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdminAccount</servlet-name>
    <url-pattern>/CreateAdminAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyAccountEditRestaurant</display-name>
    <servlet-name>VerifyAccountEditRestaurant</servlet-name>
    <servlet-class>com.tap.foodapp.admin.VerifyAccountEditRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyAccountEditRestaurant</servlet-name>
    <url-pattern>/VerifyAccountEditRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editRestaurantDetailsLoginId</display-name>
    <servlet-name>editRestaurantDetailsLoginId</servlet-name>
    <servlet-class>com.tap.foodapp.admin.editRestaurantDetailsLoginId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editRestaurantDetailsLoginId</servlet-name>
    <url-pattern>/editRestaurantDetailsLoginId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRestaurantDetails</display-name>
    <servlet-name>ChangeRestaurantDetails</servlet-name>
    <servlet-class>com.tap.foodapp.admin.ChangeRestaurantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRestaurantDetails</servlet-name>
    <url-pattern>/ChangeRestaurantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteRestaurantPerimission</display-name>
    <servlet-name>deleteRestaurantPerimission</servlet-name>
    <servlet-class>com.tap.foodapp.admin.deleteRestaurantPerimission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRestaurantPerimission</servlet-name>
    <url-pattern>/deleteRestaurantPerimission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantPerimissionGranted</display-name>
    <servlet-name>DeleteRestaurantPerimissionGranted</servlet-name>
    <servlet-class>com.tap.foodapp.admin.DeleteRestaurantPerimissionGranted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantPerimissionGranted</servlet-name>
    <url-pattern>/DeleteRestaurantPerimissionGranted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyAccountDeleteRestaurant</display-name>
    <servlet-name>VerifyAccountDeleteRestaurant</servlet-name>
    <servlet-class>com.tap.foodapp.admin.VerifyAccountDeleteRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyAccountDeleteRestaurant</servlet-name>
    <url-pattern>/VerifyAccountDeleteRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParticularRestaurantIdByMenu</display-name>
    <servlet-name>GetParticularRestaurantIdByMenu</servlet-name>
    <servlet-class>com.tap.foodapp.admin.GetParticularRestaurantIdByMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParticularRestaurantIdByMenu</servlet-name>
    <url-pattern>/GetParticularRestaurantIdByMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditParticularMenu</display-name>
    <servlet-name>EditParticularMenu</servlet-name>
    <servlet-class>com.tap.foodapp.admin.EditParticularMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditParticularMenu</servlet-name>
    <url-pattern>/EditParticularMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMenuById</display-name>
    <servlet-name>EditMenuById</servlet-name>
    <servlet-class>com.tap.foodapp.admin.EditMenuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMenuById</servlet-name>
    <url-pattern>/EditMenuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticularMenu</display-name>
    <servlet-name>DeleteParticularMenu</servlet-name>
    <servlet-class>com.tap.foodapp.admin.DeleteParticularMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticularMenu</servlet-name>
    <url-pattern>/DeleteParticularMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenuItemPerimissionGranted</display-name>
    <servlet-name>DeleteMenuItemPerimissionGranted</servlet-name>
    <servlet-class>com.tap.foodapp.admin.DeleteMenuItemPerimissionGranted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenuItemPerimissionGranted</servlet-name>
    <url-pattern>/DeleteMenuItemPerimissionGranted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuItem</display-name>
    <servlet-name>AddMenuItem</servlet-name>
    <servlet-class>com.tap.foodapp.admin.AddMenuItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuItem</servlet-name>
    <url-pattern>/AddMenuItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowByMenuID</display-name>
    <servlet-name>OrderNowByMenuID</servlet-name>
    <servlet-class>com.tap.foodapp.order.OrderNowByMenuID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowByMenuID</servlet-name>
    <url-pattern>/OrderNowByMenuID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartByMenuID</display-name>
    <servlet-name>AddToCartByMenuID</servlet-name>
    <servlet-class>com.tap.foodapp.login.AddToCartByMenuID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartByMenuID</servlet-name>
    <url-pattern>/AddToCartByMenuID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParticularRestaurantIdUser</display-name>
    <servlet-name>GetParticularRestaurantIdUser</servlet-name>
    <servlet-class>com.tap.foodapp.login.GetParticularRestaurantIdUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParticularRestaurantIdUser</servlet-name>
    <url-pattern>/GetParticularRestaurantIdUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemByMenuID</display-name>
    <servlet-name>OrderItemByMenuID</servlet-name>
    <servlet-class>com.tap.foodapp.login.OrderItemByMenuID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemByMenuID</servlet-name>
    <url-pattern>/OrderItemByMenuID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.tap.foodapp.login.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  
</web-app>